<h1>Login</h1>

<table>
    <tr>
        <td>Korisnicko ime</td>
        <td><input type="text" name="korime" [(ngModel)]="korime"></td>
    </tr>
    <tr>
        <td>Lozinka</td>
        <td><input type="password" name="lozinka" [(ngModel)]="lozinka"></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><button class="btn btn-success" (click)='login()'>Login</button></td>
    </tr>
</table>
{{poruka}}
<br>
<hr>
<a routerLink="register">Registracija</a>
    <hr>
<br> 

<div class="container">
    <div class="col-sm-12" *ngFor="let a of ads2">
        <h5>{{a.Name}}</h5>
        <p>{{a.About}}</p>
       <!-- <iframe width="400" height="200" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPbtsb7f3fTUauiMzUbo5KA4G0SjLqMzM&q="+{{a.Street}}></iframe>-->
    </div>
</div>