<h1>Nova nekretnina</h1>
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" name="Name" [(ngModel)]="Name"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" name="City" [(ngModel)]="City"></td>
    </tr>
    <tr>
        <td>Municipality</td>
        <td><input type="text" name="Municpality" [(ngModel)]="Municpality"> </td>
    </tr>
    <tr>
        <td>Microlocation</td>
        <td><input type="text" name="Microlocation" [(ngModel)]="Microlocation"></td>
    </tr>
    <tr>
        <td>Street</td>
        <td><input type="text" name="Street"[(ngModel)]="Street"></td>
    </tr>
    <tr>
        <td>Area</td>
        <td><input type="number" name="Area"[(ngModel)]="Area"></td>
    </tr>
    <tr>
        <td>Rooms</td>
        <td><input type="number" name="Rooms"[(ngModel)]="Rooms"></td>
    </tr>
    <tr>
        <td>ConstructionYear</td>
        <td><input type="number" name="ConstructionYear" [(ngModel)]="ConstructionYear"></td>
    </tr>
    <tr>
        <td>State</td>
        <td><input type="text" name="State" [(ngModel)]="State"></td>
    </tr>
    <tr>
        <td>Heating</td>
        <td><input type="text" name="Heating"[(ngModel)]="Heating"></td>
    </tr>
    <tr>
        <td>Floor</td>
        <td><input type="number" name="Floor"[(ngModel)]="Floor"></td>
    </tr>
    <tr>
        <td>TotalFloors</td>
        <td><input type="number" name="TotalFloors"[(ngModel)]="TotalFloors"></td>
    </tr>
    <tr>
        <td>Parking</td>
        <td><input type="text" name="Parking"[(ngModel)]="Parking"></td>
    </tr>
    <tr>
        <td>MonthlyUtilities</td>
        <td><input type="number" name="MonthlyUtilities"[(ngModel)]="MonthlyUtilities"></td>
    </tr>
    <tr>
        <td>About</td>
        <td><textarea name="About" [(ngModel)]="About" cols="30" rows="10"></textarea></td>
    </tr>
    <tr>
        <td>Price</td>
        <td><input type="number" name="Price"[(ngModel)]="Price"></td>
    </tr>
    <tr>
        <td>Characteristics</td>
        <td>
            <input type="checkbox"  #selected (change)="change(selected.value)" name="Characteristics"  value="Terasa">Terasa <input type="checkbox" #selected2 (change)="change(selected2.value)"  name="Characteristics" value="Internet">internet <input type="checkbox" #selected10 (change)="change(selected10.value)" name="Characteristics" value="Podrum">Prodrum <br>
            <input type="checkbox" name="Characteristics" #selected3 (change)="change(selected3.value)"  value="Lift">Lift <input type="checkbox" #selected4 (change)="change(selected4.value)"  name="Characteristics" value="Garaza">Garaza <input type="checkbox" name="Characteristics" #sel56  (change)="change(sel56.value)" value="Telefon">Telefon <br>
            <input type="checkbox" name="Characteristics" #selected6 (change)="change(selected6.value)"  value="Balkon">Balkon <input type="checkbox" #selected7 (change)="change(selected7.value)" name="Characteristics" value="Basta">Basta <input type="checkbox" #selected8 (change)="change(selected8.value)"  name="Characteristics" value="Lodja">Lodja
        </td>
    </tr>
    <tr>
        <td>slike</td>
        <td><input type="file" multiple></td>
    </tr>
    <tr>
        <td colspan="2"><button (click)="add()" class="btn btn-success">Upisi</button></td>
    </tr>
</table>
<hr>
<a routerLink="/">Odjavi</a><br>
<a routerLink="/prodavac">Vrati se</a>